{{ form_start(form) }}
    <div class="row jumbotron jumbotron-fluid" style="color:black;">
        <div class="col-sm-5">
            {{ form_row(form.typeClient) }}
            {{ form_row(form.codeepargneclient) }}
            {{ form_row(form.Description) }}
            {{ form_row(form.PieceComptable) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.DateTransaction) }}
            {{ form_row(form.Montant) }}
            {{ form_row(form.commission) }}
            {{ form_row(form.papeterie) }}
            <div style="display: none;">
                {{ form_row(form.solde) }}
            </div>
        </div>
    </div><br>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
