{{ include('header.html.twig') }}

{% block body %}

        <div style="display:none;">
            <p> Text ecrit : <span id="text"> </span> </p>
            {# <p> Text ecrit : <span id="code"> </span> </p> #}
        </div>
             {# /***************Messages succes ******************/#}
   
            {% for message in app.flashes('success') %}
                <div class="alert text-center alert-success">
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <p class="alert alert-success text-center">
                                            {{ message }}
                                        </p>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
    {# *************************************#}


    {{ include('Module_epargne/transaction/_form.html.twig') }}

    <table class="table table-bordered">
    <thead class="alert alert-success"> 
        <tr>
            <th>Code Epargne</th>
            <th>Nom et prenom client</th>
            <th>Solde</th>
        </tr>
    </thead> 
    <tbody class="jumbotron jumbotron-fluid">
        <tr>
            <td><span id="code"> </span> </td>
            <td><span id="nom"> </span> </td>
            <td><span id="solde"> </span> </td>
        </tr>
    </tbody>
</table>

{% endblock %}
{% block javascript %}
    <script src="{{ asset('/api/depot.js')}}"></script>
{% endblock %}
{{ include('footer.html.twig') }}


{# 


{{ include('header.html.twig') }}
{% block stylesheet %}
  <style>
    .suggestion{
      font-size: 14px;
    }
    .suggestion:hover{
      background-color: cornflowerblue;
      color: #fff;
    }
  </style>
{% endblock %}

{% block body %}

        <div>
            <p> Text ecrit : <span id="text"> </span> </p>
            {# <p> Text ecrit : <span id="code"> </span> </p> #}
        </div>


            {# /***************Messages succes ******************/#}
            {# {% for message in app.flashes('success') %}
                <div class="alert text-center alert-success">
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <p class="alert alert-success text-center">
                                            {{ message }}
                                        </p>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} #}


          

            {# *************************************#}


    {# {{ include('Module_epargne/transaction/_form.html.twig') }}

    <table class="table table-bordered">
    <thead class="alert alert-success"> 
        <tr>
            <th>Code Epargne</th>
            <th>Nom et prenom client</th>
            <th>Solde</th>
        </tr>
    </thead> 
    <tbody class="jumbotron jumbotron-fluid">
        <tr>
            <td><span id="code"> </span> </td>
            <td><span id="nom"> </span> </td>
            <td><span id="solde"> </span> </td>
        </tr>
    </tbody>
</table>

    {% block javascript %}
        <script src="{{ asset('/api/depot.js')}}"></script>
    {% endblock %}
{% endblock %}
{{ include('footer.html.twig') }} #} #}
