{{ include('header.html.twig') }}

{% block body %}

{{ form_start(form) }}
  <div style="display:none;">
            <p> Text ecrit : <span id="text"> </span> </p>
    </div>
    <div class="row jumbotron jumbotron-fluid" style="color:black;">
        <div class="col-sm-5">
            {{ form_row(form.Description) }}
            {{ form_row(form.PieceComptable) }}
            {{ form_row(form.typeClient) }}
            {{ form_row(form.codeepargneclient) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.DateTransaction) }}
            {{ form_row(form.Montant) }}
            {{ form_row(form.commission) }}
            {{ form_row(form.papeterie) }}
        </div>
    </div><br>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<table class="table table-bordered">
    <thead class="alert alert-success"> 
        <tr>
            <th>Code Epargne</th>
            <th>Nom et prenom client</th>
            <th>Solde</th>
        </tr>
    </thead> 
    <tbody class="jumbotron jumbotron-fluid">
        <tr>
            <td><span id="code"> </span> </td>
            <td><span id="nom"> </span> </td>
            <td><span id="solde"> </span> </td>
        </tr>
    </tbody>
</table>

{% endblock %}
  
{{ include('footer.html.twig') }}

