
                         <h4 class="modal-title text-center"> Type Epargne </h4>
                        {{ form_start(form) }}
                            {{ form_widget(form) }}

                            <button class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> {{ button_label|default('Ajouter') }}</button>  <a href="{{ path('app_type_epargne_index') }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Voir Liste</a>
                         
                         {{ form_end(form) }}
                     
         {# /***********Fin modal *********** #}
   {% block javascript %}

        <script>
                $(document).ready(function(){
                    $(window).on('load',()=>{
                        $('#myModal').modal('show')
                    })
                });
        </script>
    {% endblock %}
