{{ form_start(form) }}
    <div class="row jumbotron jumbotron-fluid">
        <div class="col-sm-5">
            {{ form_row(form.datetransfert) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.Montant) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.produitatransferer) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.Produittransmis) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.compte) }}
        </div>
        <div class="col-sm">
        </div>
    </div>
{{ form_end(form) }}
