{{ include('header.html.twig') }}

{% block body %}
    <h1>Titre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ titre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ titre.titre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_titre_index') }}">back to list</a>

    <a href="{{ path('app_titre_edit', {'id': titre.id}) }}">edit</a>

    {{ include('titre/_delete_form.html.twig') }}
{% endblock %}

{{ include('footer.html.twig') }}
