{{ form_start(form) }}
    <div class="row" style="margin-left:300px;">
        <div class="col-sm-5  jumbotron jumbotron-fluid">
            {{ form_row(form.NomAgence) }}
            {{ form_row(form.AdressAgence) }}
            {{ form_row(form.commune) }}
           {{ form_row(form.Save) }}
        </div>
    </div>
{{ form_end(form) }}
