{% extends "base.html.twig" %}

{% block title %} Listes Agences {% endblock %}
{% block head %}
     Listes Agences
{% endblock %}
{% block body %}

   {# /***************Messages succes ******************/#}
      {% for message in app.flashes('success') %}
        <!-- The Modal -->
                <strong class="alert alert-success">{{ message }}</strong>
        {% endfor %}

    <a href="{{ path('app_agence_new') }}" class="btn btn-primary btn-sm mb-3"><i class="fa fa-plus"></i>Nouveau</a>

    <table class="table1 table  table-borderd p-5 m-3 ">
        <thead>
            <tr>
                <th>Code Agence</th>
                <th>Nom Agence</th>
                <th>Adresse Agence</th>
                <th>Commune</th>
                <th>Code commune</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid" style="color:black;">
        {% for agence in agences %}
            <tr>
                <td>{{ "%02d" | format(agence.id) }}</td>
                <td>{{ agence.NomAgence }}</td>
                <td>{{ agence.AdressAgence }}</td>
                <td>{{ agence.commune }}</td>
                <td>{{ agence.codec }}</td>
                <td>
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <a href="{{ path('app_agence_edit', {'id': agence.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                        </div>
                        <div class="col-auto col-sm-auto">
                            {{ include('Module_client/agence/_delete_form.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}