
         <!-- The Modal -->
                         <h4 class="modal-title text-center"> Produit epargne </h4>

                        {{ form_start(form) }}
                            <!-- Modal body -->
                            <div class="modal-body">
                                {{ form_row(form.typeEpargne) }}
                                {{ form_row(form.nomproduit) }}
                                {{ form_row(form.isdesactive) }}

                                <button class="btn btn-primary btn-sm" style="">{{ button_label|default('Enregistrer') }}</button>
                                <a href="{{ path('app_produit_epargne_index') }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> Voir Liste</a>
                        {{ form_end(form) }}
         {# /***********Fin modal *********** #}
   {% block javascript %}

        <script>
                $(document).ready(function(){
                    $(window).on('load',()=>{
                        $('#myModal').modal('show')
                    })
                });
        </script>
    {% endblock %}

