{{ include('header.html.twig') }}

{% block body %}

    <table class="table table-bordered">
        <thead class="alert alert-success">
            <tr>
                <th>Code type</th>
                <th>Code produit</th>
                <th>Type produit</th>
                <th>Nom produit</th>
                <th>Description produit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid">
        {% for produit_epargne in produit_epargnes %}
            <tr>
                <td>{{ produit_epargne.codetype }}</td>
                <td>{{ "%03d" | format(produit_epargne.id) }}</td>
                <td>{{ produit_epargne.typeep }}</td>
                <td>{{ produit_epargne.nomproduit }}</td>
                <td>
                    <a class="btn btn-success btn-sm">{{ produit_epargne.isdesactive ? 'Active':'Desactive' }}</a>
                </td>
                <td>

                    <div class="col-sm-3">
                        <a href="{{ path('app_produit_epargne_show', {'id': produit_epargne.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Afficher</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="{{ path('app_produit_epargne_edit', {'id': produit_epargne.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> editer</a>
                    </div>
                    <div class="col-sm-6">
                        {{ include('Configuration/produit_epargne/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{{ include('footer.html.twig') }}
