{{ include('header.html.twig') }}

{% block body %}
    <h1>Produit Epargne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit_epargne.id }}</td>
            </tr>
            <tr>
                <th>Type produit</th>
                <td>{{ produit_epargne.typeEpargne }}</td>
            </tr>
            <tr>
                <th>Nom Produit</th>
                <td>{{ produit_epargne.nomproduit }}</td>
            </tr>
            <tr>
                <th>Desactive</th>
                <td>{{ produit_epargne.isdesactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_epargne_index') }}">back to list</a>

    <a href="{{ path('app_produit_epargne_edit', {'id': produit_epargne.id}) }}">edit</a>

    {{ include('Configuration/produit_epargne/_delete_form.html.twig') }}
{% endblock %}

{{ include('footer.html.twig') }}
