{% extends "base.html.twig" %}

{% block title %} 
    {% if affiche_table == false %}
        Liste par document identite 
    {% else %}
        Liste des CIN {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %} 
    {% endif %}
{% endblock %}
{% block head %}

    {% if affiche_table == false %}
            Liste par document identite 
        {% else %}
            Liste paar document {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %} 
        {% endif %}
    {% endblock %}
{% block body %}
    {% if affiche_table == false %}

                    <h4 class="modal-title text-center">Recherche par date</h4>

                {{ form_start(trierDocs) }}

                            <div class="text-center" id="one_date">
                                <h4 class="text-center"> Date arrêtée </h4>
                                {{ form_row(trierDocs.one_date_search) }}
                            </div>

                            <div class="text-center" id="two_date">
                                <h4 class="text-center">Entre deux dates </h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(trierDocs.Date1) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(trierDocs.Date2) }}
                                    </div>
                            </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        {{ form_row(trierDocs.Filtre) }}
                    </div>
                    {{ form_end(trierDocs) }}
    {# /*********Fin modal ************ #}

           
               
    {% else %}
        <table class="table1 table m-3 p-3">
            <thead>
                <tr>
                    <th>Numero CIN</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date naissance</th>
                    <th>Lieu de naissance</th>
                    <th>Date de livrance</th>
                    <th>Date expiration</th>
                    <th>Delivré à</th>
                </tr>
            </thead>
                {% for Individuelclient in documents %}
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                    <tr>
                        <td class="fw-bold">{{ Individuelclient.getCin() }}</td>
                        <td>{{ Individuelclient.getNomclient() }}</td>
                        <td>{{ Individuelclient.getPrenomclient() }}</td>
                        <td>{{ Individuelclient.getDatenaissance()| date('d/m/Y') }}</td>
                        <td>{{ Individuelclient.getLieunaissance() }}</td>
                        <td>{{ Individuelclient.getDatecin()| date('d/m/Y') }}</td>
                        <td>{{ Individuelclient.getDateexpiration()| date('d/m/Y') }}</td>
                        <td>{{ Individuelclient.lieudelivrance }}</td>
                    </tr>
                    {% else %}
                    <tr>
                    <td colspan="8" class="text-center">Pas de resultats</td>
                    </tr>
            </tbody>
                {% endfor %}
        </table>
    {% endif %}

    {% block javascript %}
        <script>
            $(document).ready(function(){
                $(window).on('load',function(){
                     
                    $('#myModal').modal('show')
                })
                
                $('#filtre_rapport_document_identite_one_date_search').on('change',function(){
                    $('#two_date').hide();
                });

                $('#filtre_rapport_document_identite_Date1').on('change',function(){
                    $('#one_date').hide();
                });
                $('#filtre_rapport_document_identite_Date2').on('change',function(){
                    $('#one_date').hide();
                });
            });
        </script>
    {% endblock  %}
{% endblock %}