{{ include('header.html.twig') }}

{% block body %}
    {% if affiche_table == false %}

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-center">Recherche par date</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {{ form_start(trierDocs) }}
                    <!-- Modal body -->
                    <div class="modal-body">
                    
                            <div class="text-center" id="one_date">
                                <h4 class="text-center"> Date arrêtée </h4>
                                {{ form_row(trierDocs.one_date_search) }}
                            </div>

                            <div class="text-center" id="two_date">
                                <h4 class="text-center">Entre deux dates </h4>
                                {{ form_row(trierDocs.Date1) }}
            
                                {{ form_row(trierDocs.Date2) }}
                            </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        {{ form_row(trierDocs.Filtre) }}
                    </div>
                    {{ form_end(trierDocs) }}
            </div>
        </div>
    </div>

    {# /*********Fin modal ************ #}

           
               
    {% else %}
        <h2 style="color:black;">Liste des CIN :</h2>

        <table class="table1 table" style="margin-top:25px;">
            <thead class="alert alert-success">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date naissance</th>
                    <th>Lieu de naissance</th>
                    <th>Numero CIN</th>
                    <th>Date de livrance</th>
                    <th>Date expiration</th>
                    <th>Delivré à</th>
                </tr>
            </thead>
                {% for Individuelclient in documents %}
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                    <tr>
                        <td>{{ Individuelclient.getNomclient() }}</td>
                        <td>{{ Individuelclient.getPrenomclient() }}</td>
                        <td>{{ Individuelclient.getDatenaissance()| date('d/m/y') }}</td>
                        <td>{{ Individuelclient.getLieunaissance() }}</td>
                        <td>{{ Individuelclient.getCin() }}</td>
                        <td>{{ Individuelclient.getDatecin()| date('d/m/y') }}</td>
                        <td>{{ Individuelclient.getDateexpiration()| date('d/m/y') }}</td>
                        <td>{{ Individuelclient.lieudelivrance }}</td>
                    </tr>
            </tbody>
                {% endfor %}
        </table>
    {% endif %}

    {% block javascript %}
        <script>
            $(document).ready(function(){
                $(window).on('load',function(){
                     
                    $('#myModal').modal('show')
                })
                
                $('#filtre_rapport_document_identite_one_date_search').on('change',function(){
                    $('#two_date').hide();
                });

                $('#filtre_rapport_document_identite_Date1').on('change',function(){
                    $('#one_date').hide();
                });
                $('#filtre_rapport_document_identite_Date2').on('change',function(){
                    $('#one_date').hide();
                });
            });
        </script>
    {% endblock  %}
{% endblock %}

{{ include('footer.html.twig') }}
