{{ include('header.html.twig') }}

{% block body %}
    <h1>Etat civile</h1>

    <table class="table table-bordered">
        <thead class="alert alert-success">
            <tr>
                <th>Etat civile</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid">
        {% for etatcivile in etatciviles %}
            <tr>
                <td>{{ etatcivile.etatcivile }}</td>
                <td>
                    <a href="{{ path('app_etatcivile_edit', {'id': etatcivile.id}) }}" class="btn btn-success"> <i class="fa fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etatcivile_new') }}">Create new</a>
{% endblock %}

{{ include('footer.html.twig') }}
