{{ include('header.html.twig') }}

{% block body %}
    <h1>Etat civile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etatcivile.id }}</td>
            </tr>
            <tr>
                <th>Etat civile</th>
                <td>{{ etatcivile.etatcivile }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etatcivile_index') }}">back to list</a>

    <a href="{{ path('app_etatcivile_edit', {'id': etatcivile.id}) }}">edit</a>

    {{ include('references/etatcivile/_delete_form.html.twig') }}
{% endblock %}

{{ include('footer.html.twig') }}
