{{ include('header.html.twig') }}

{% block body %}
        <h2 style="color:black;">Rapport solde :</h2>

        

        {% if showTable == false %}
            <div class="row" style="width: 60%; margin-left: 20rem; border: 1px solid #AAA; padding: 50px;" >
                <h2 class="text-center"> Recherche membre groupes....</h2>
                {{ form_start(form1) }}
                        <div class="row p-2">
                            <div class="col-sm-12" id="one_date">
                                {{ form_row(form1.date1) }}
                            </div>
                        </div>

                            
                        <div class="row text-center" id="two_date">
                            <div class="col-sm-6">
                                {{ form_row(form1.Du) }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_row(form1.Au) }}
                            </div>
                        </div>
                        <div class="row m-2">
                            {{ form_row(form1.Filtre) }}
                        </div>
                {{ form_end(form1) }}
            </div>
        {% else %}
            <table class="table1 table table-bordered" style="margin-top:25px;">
                <thead class="alert alert-success">
                    <tr>
                        <th>Compte Epargne</th>
                        <th>Description</th> 
                        <th>Nom et prenom</th>
                        <th>Nom Produit</th>
                        <th>Date transaction</th>
                        <th>Solde</th>
                    </tr>
                </thead>
                <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                {% for CompteEpargne in compte_epargnes %}
                    <tr>
                        <td>{{ CompteEpargne.codeepargne }}</td>
                        <td>{{ CompteEpargne.Description }}</td> 
                        <td>{{ CompteEpargne.nomclient }} {{ CompteEpargne.prenomclient }}</td>
                        <td>{{ CompteEpargne.codetypeepargne }} {{ "%03d" | format(CompteEpargne.codeproduit) }} | {{ CompteEpargne.nomproduit }}</td>
                        <td>{{ CompteEpargne.DateTransaction | date('y-m-d') }}</td>
                        <td>
                            {% if CompteEpargne.Description == 'RETRAIT' %}
                                <span style="color: red;">{{ CompteEpargne.soldes }}</span>
                            {% else %}
                                <span style="color: green;">{{ CompteEpargne.soldes }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
    {% endif %}

    {% block javascript %}

        <script>
                $(document).ready(function(){
                    $("#filtre_rapport_solde_date1").on('change',function(){
                        
                        $('#two_date').hide();
                    });

                    $("#filtre_rapport_solde_Du").on('change',function(){
                        $('#one_date').hide(); 
                    });
                    
                    $("#filtre_rapport_solde_Au").on('change',function(){
                        $('#one_date').hide(); 
                    });
                });
        </script>
    {% endblock %}
{% endblock %}

{{ include('footer.html.twig') }}