

    {{ form_start(form) }}
        <div class="row">
            <div class="col-4  col-sm-4">
                {{ form_row(form.codeclient) }}
                {{ form_row(form.raison) }}
            </div>
            <div class="col-sm-4 col-4">
                {{ form_row(form.codegroupe) }}
                {{ form_row(form.TypeClient) }}
            </div>
            <div class="col-sm-4 col-4">
                {{ form_row(form.dateliste) }}
            </div>            
        </div>
        <div class="row">
            <button class="btn btn-success btn-sm">{{ button_label|default('Ajouter') }}</button>
        </div>
    {{ form_end(form) }}

