{% extends "base.html.twig" %}

{% block title %}  Individuel clients liste rouge {% endblock %}
{% block head %}
    Individuel clients liste rouge
{% endblock %}

{% block body %}
    <a href="{{ path('app_liste_rouge_new') }}" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Ajouter</a>
    {{ form_start(form) }}
        <div class="row" style="color:black;">
            <div class="col-2 col-sm-2">
                {{ form_row(form.Du) }}
            </div>
            <div class="col-2 col-sm-2">
                {{ form_row(form.Au) }}
            </div>
            <div class="col-2 col-sm-auto mt-4">
                {{ form_row(form.Filtre) }}
            </div>
        </div>
    {{ form_end(form) }}<br>

    <table class="table1 table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Code client</th>
                <th>Nom Client et prenom</th>
                <th>Raison</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid" style="color:black;">
        {% for ListeRouge in listerouge %}
            <tr>
                <td>{{ ListeRouge.dateliste ? ListeRouge.dateliste|date('Y-m-d') : '' }}</td>
                <td>
                I{% for Agence in agences %}{{  "%02d" | format(Agence.id) }}{% endfor %}{{ "%06d" | format(ListeRouge.code) }}
                </td>
                <td>{{ ListeRouge.nom }} {{ ListeRouge.prenom }}</td>
                <td>{{ ListeRouge.raison }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}