{% extends "base.html.twig" %}
{% block title %}  Ajout de nouveau groupe {% endblock %}

{% block head %}
    Ajout de nouveau groupe
{% endblock %}
{% block body %}
    {# <a class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Nouveau Groupe</a> #}

    {{ include('modal.html.twig') }}
    <div class="shadow-sm g-0 p-4">
        {% for message in app.flashes('success') %}
        <!-- The Modal -->
                <strong class="alert alert-success">{{ message }}</strong>
        {% endfor %}

        <div class="container">
                <div style="display:none;"> <span id="id_groupe">{{ last_id_gropue }}</span> <span id="id_agence">{{ id_agence }}</span></div>

                {{ include('Module_client/groupe/_form.html.twig') }}
        </div>
    </div>
        

{% endblock %}