{{ include('header.html.twig') }}


{% block body %}

    {% if affiche_tab == false %}
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-center">Recherche par date</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    {{ form_start(form) }}
                        <!-- Modal body -->
                        <div class="modal-body">
                        
                                <div class="text-center" id="one_date">
                                    <h4 class="text-center"> Date arrêtée </h4>
                                    {{ form_row(form.search_on_date) }}
                                </div>

                                <div class="text-center" id="two_date">
                                    <h4 class="text-center">Entre deux dates </h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form_row(form.Du) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(form.Au) }}
                                        </div>
                                </div>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            {{ form_row(form.Filtre) }}
                        </div>
                        {{ form_end(form) }}
                    
                </div>
            </div>
        </div>
        {# /////Fin modal #}

    {% else %}

        
        <h4 class="text-primary text-center">Liste des Membres 
            {% if date_1 == true %} jusq'a {{ one_date| date('d-m-Y') }} {% else %} du {{ du| date('d-m-Y') }} au {{ au| date('d-m-Y')  }}{% endif %}   :
        </h4>
            <table class="table1 table alert alert-primary" style="margin-top:20px;">
            <thead class="alert alert-success">
                <tr>
                    <th>Code Groupe</th>
                    <th>Code Client</th>
                    <th>Date d'adhesion</th>
                    <th>Nom Client</th>
                    <th>Nom Groupe</th>
                    <th>Adresse Email</th>
                    <th>Date de creation </th>
                </tr>
            </thead>
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
            {% for Groupe in rapportMembre %}
                    <tr>
                        <td> {{ Groupe.codegroupe }}</td>
                        <td> {{ Groupe.codeclient}}</td>
                        <td>{{ Groupe.dateadhesion | date('d-m-Y') }}</td>
                        <td>{{ Groupe.nom_client }} {{ Groupe.prenom_client }}</td>
                        <td>{{ Groupe.nomGroupe }}</td>
                        <td>{{ Groupe.email }}</td>
                        <td>{{ Groupe.dateInscription | date('d-m-Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">Pas de resultats</td>
                    </tr>
            {% endfor %} 
            </tbody>
        </table>
    {% endif %}

    {% block javascript %}

            <script>
                    $(document).ready(function(){

                        $(window).on('load',function(){
                     
                            $('#myModal').modal('show')
                        })

                        $("#filtre_rapport_membre_search_on_date").on('change',function(){
                            
                            $('#two_date').hide();
                        });

                        $("#filtre_rapport_membre_Du").on('change',function(){
                            $('#one_date').hide(); 
                        });
                        
                        $("#filtre_rapport_membre_Au").on('change',function(){
                            $('#one_date').hide(); 
                        });
                    });
            </script>
    {% endblock %}

{% endblock %}

{{ include('footer.html.twig') }}
