{{ form_start(form)  }}
    <div class="col-sm-5 jumbotron jumbotron-fluid" style="">
         {{ form_row(form.codeclient) }}<br>
         {{ form_row(form.dateapprobation) }}<br>
         {{ form_row(form.Valider) }}
    </div>
{{ form_end(form) }}
