{% extends "base.html.twig" %}

{% block title %} Nouveau compte epargne du client {{ nom_client }} {% endblock %}
{% block head %}
     Nouveau compte epargne du client {{ nom_client }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <p class="fw-bolder"> Code du client : <span> {{ code_client }} </span> </p>
            <p class="fw-bolder"> Nom du client : <span> {{ nom_client }} </span> </p>
            <p class="fw-bolder"> Prenom du client : <span> {{ prenom_client }} </span> </p>
        </div>
    </div>
              {{ include('Module_epargne/compte_epargne/_form.html.twig') }}
             <div id='info_cli'>
                <span class="code_client">{{ code_client }}</span>
                <span class="nom_client">{{ nom_client }}</span>
                <span class="prenom_client">{{ prenom_client }}</span>
            </div>

      {# /***************Messages succes ******************/#}
      {% for message in app.flashes('success') %}
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <strong>{{ message }}</strong>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        <div class="prod_type">
            <p> Text ecrit : <span id="text"> </span> </p>
            <p> Text ecrit : <span id="code"> </span> </p>
        </div>
        
        <table class="table table-bordered" style="margin-top:50px;">
            <thead>
                <tr>
                    <th>Code client</th>
                    <th>Nom et prenom</th>
                    <th>Produits</th>
                    <th>Date d'ouverture </th>
                    <th>Code Epargne</th>
                    <th>Actions </th>
                </tr>
            </thead>
            {% for compte_epargne in comptedujours %}
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                <tr>
                    <td>{{ compte_epargne.codeclient }}</td>
                    <td>{{ compte_epargne.nom_client }} {{ compte_epargne.prenom_client }}</td>
                    <td>{{ compte_epargne.nomproduit }}</td>
                    <td>{{ compte_epargne.datedebut | date }}</td>
                    <td>{{ compte_epargne.codeepargne }}</td>
                    <td>
                        <div class="col-sm-4">
                            <a href="{{ path('app_compte_epargne_show', {'id': compte_epargne.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Afficher</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ path('app_compte_epargne_edit', {'id': compte_epargne.id}) }}" class="btn btn-success"> <i class="fa fa-eye"></i> editer</a>
                        </div>
                        <div class="col-sm-4">
                            {{ include('Module_epargne/compte_epargne/_delete_form.html.twig') }}
                        </div>

                    </td>
                </tr>
            </tbody>
            {% endfor %}
    </table>
{% endblock %}