{{ include('header.html.twig') }}
{% block stylesheet %}
  <style>
    .suggestion{
      font-size: 14px;
    }
    .suggestion:hover{
      background-color: cornflowerblue;
      color: #fff;
    }
  </style>
{% endblock %}

{% block body %}
              {{ include('Module_epargne/compte_epargne/_form.html.twig') }}


      {# /***************Messages succes ******************/#}
      {% for message in app.flashes('success') %}
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <strong>{{ message }}</strong>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        <div style="display: none;">
            <p> Text ecrit : <span id="text"> </span> </p>
            <p> Text ecrit : <span id="code"> </span> </p>
        </div>
        
        <table class="table1 table table-bordered" style="margin-top:50px;">
            <thead class="alert alert-success">
                <tr>
                    <th>Code client</th>
                    <th>Nom et prenom</th>
                    <th>Produits</th>
                    <th>Date d'ouverture </th>
                    <th>Code Epargne</th>
                    <th>Actions </th>
                </tr>
            </thead>
            {% for compte_epargne in comptedujours %}
            <tbody class="jumbotron jumbotron-fluid" style="color:black;">
                <tr>
                    <td>{{ compte_epargne.codeclient }}</td>
                    <td>{{ compte_epargne.nom_client }} {{ compte_epargne.prenom_client }}</td>
                    <td>{{ compte_epargne.nomproduit }}</td>
                    <td>{{ compte_epargne.datedebut | date }}</td>
                    <td>{{ compte_epargne.codeepargne }}</td>
                    <td>
                        <div class="col-sm-4">
                            <a href="{{ path('app_compte_epargne_show', {'id': compte_epargne.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Afficher</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ path('app_compte_epargne_edit', {'id': compte_epargne.id}) }}" class="btn btn-success"> <i class="fa fa-eye"></i> editer</a>
                        </div>
                        <div class="col-sm-4">
                            {{ include('Module_epargne/compte_epargne/_delete_form.html.twig') }}
                        </div>

                    </td>
                </tr>
            </tbody>
            {% endfor %}
    </table>

    {% block javascript %}
      <script>
        $(document).ready(()=>{

                    
           
            $('#compte_epargne_codeep').on('keyup',function(){
                var code_client = $(this).val();
                document.getElementById('code').innerHTML = code_client;
        
            var type_produit = $('#type_prod').text();
            var id_produits = $('#id_prod').text();
            
            $('#compte_epargne_codeepargne').val(code_client+type_produit+id_produits.padStart(5,0));
        
            ///code_client_mddule epargne
           
            
            var url = '/api/code-client/'+code_client
           
            $.ajax({
                url: url,
                method: "GET",
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(code_client),
                success: function(result){
                    for(let i = 0; i < result.length; i++){
                        var element = result[i]

                        if(element !== '' ){
                            console.log(element)
                            $('#compte_epargne_nom').val(element.nom)
                            $('#compte_epargne_prenom').val(element.prenom)
                        }else{
                            console.log(element)
                            $('#compte_epargne_nom').val("Pas de client")
                            $('#compte_epargne_prenom').val("Pas de client")
                        }
                           
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
        
            });    
        
            //alert(url)
        
            });
            
        
            $("#compte_epargne_produit").on('change',function(){
        
                var url = "/api/individuel/"+$(this).val();
        
                $.ajax({
                    url: url,
                    method: "GET",
                    dataType : "json",
                    contentType: "application/json; charset=utf-8",
                    data : JSON.stringify($(this).val()),
                    success: function(result){
                        for (let i = 0; i < result.length; i++) {
                        
                            var element = result[i];
                            console.log(element);
                           
                            document.getElementById('text').innerHTML = "<span id=\'type_prod\'>"+element.TypeProd.toString().padStart(1,0)+"</span><span id=\'id_prod\'>"+element.Produit_id.toString().padStart(4,0)+" </span>";
                        }
                
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
        
                });    
            });
            //api_suggestion
            const code_rechercher = document.getElementById('compte_epargne_codeep');

            const url_api = '/api/code-client'
            code_rechercher.addEventListener('keyup',()=>{
                const value_input = code_rechercher.value
                
                $.ajax({
                    url: url_api,
                    method: "GET",
                    dataType : "json",
                    contentType: "application/json; charset=utf-8",
                    data : JSON.stringify(),
                    success: function(result){

                        const getValue = result.filter(i => i.code.toLocaleLowerCase().includes(value_input.toLocaleLowerCase()))

                        var suggestion = ''

                        if( value_input != '' ){
                            getValue.forEach(resultItem =>{
                            
                            suggestion += `<div class="suggestion">${resultItem.code}</div>`
                            })
                        }else{
                            suggestion = '<div class="suggestion"> Pas de commune</div>'
                        }
                        
                        document.getElementById('commune_suggest').innerHTML = suggestion
                    
                
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }

                });    
            })
            $(window).on('load',() =>{
                $('#myModal').modal('show')
            })

             
        })
    </script>
    {% endblock  %}

{% endblock %}


{{ include('footer.html.twig') }}
