<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fidev {% endblock %}</title>

        {% block stylesheet %}
            {{ encore_entry_link_tags('app') }}
        {% endblock  %}
</head>
<body>

    <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar" >
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <div class="row mt-3">
                                <img class="img-fluid avatar" src="{{ asset('images/logo.jpg') }}" width="100" alt="AVATAR" style="border-radius: 50%;" >
                            </div>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white" id="menu">

                            <!-- Module client -->
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"> <i class="fa fa-user"></i> Client  <span class="fa fa-chevron-down"></span> </span></a>
                                <ul class="collapse nav flex-column ms-1 ms-3" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{path('app_individuel_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-user"></i> Individuel </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{path('app_groupe_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-users"></i> Groupe </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{path('app_liste_rouge_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-list"></i> Liste rouge </span></a>
                                    </li>

                                    <li class="w-100">
                                        <a href="{{path('app_agence_index')}}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-home"></i> Agences </span></a>
                                    </li>
                                    <li class="w-100">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              Rapports 
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDarkDropdownMenuLink">
                                              <li><a class="dropdown-item" href="{{path('app_rapportclient')}}"> <i class="fa-solid fa-user"></i> Rapport client</a></li>
                                              <li><a class="dropdown-item" href="{{ path('app_rapportgroupe') }}"> <i class="fa-solid fa-users"></i> Rapport groupe</a></li>
                                              <li><a class="dropdown-item" href="{{ path('app_rapport_membre_groupe_index') }}"> <i class="fa-solid fa-users"></i> Rapport membres groupe</a></li>
                                              <li><a class="dropdown-item" href="{{path('app_rapportdocumentidentite')}}"> <i class="fa-solid fa-newspaper"></i> Rapport Document d'identite</a></li>

                                            </ul>
                                          </li>
                                        <li>
                                    </li>    
                                </ul>
                            </li>

                            <!-- Module Epargne -->
                            <li>
                                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa fa-database"></i>  Epargne <span class="fa fa-chevron-down"></span> </span> </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{ path('app_new_account_ep') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">  <i class="fa fa-down-left-and-up-right-to-center"></i> Ouvrir un compte </span></a>
                                    </li>
                                    <li class="w-100">
                                        <a href="{{ path('app_new_depot') }}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-long-arrow-down"></i> Depot epargne </span> </a>
                                    </li>

                                    <li class="w-100">
                                        <a href="{{ path('app_new_retrait') }}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-long-arrow-up"></i> Retrait epargne </span> </a>
                                    </li>

                                    
                                    <li class="w-100">
                                        <a href="{{ path('app_transfertep_new') }}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-exchange"></i> Transfert epargne </span> </a>
                                    </li>

                                    <li class="w-100">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              Rapports
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarDarkDropdownMenuLink">
                                              <li><a class="dropdown-item" href="{{ path('app_rapport_compte') }}" > <i class="fa-solid fa-user"></i> Rapport compte epargne </a></li>
                                              <li><a class="dropdown-item" href="{{ path('app_transac_liste') }}"> <i class="fa fa-dollar"> </i> Rapport Solde</a></li>
                                              <li><a class="dropdown-item" href="{{ path('app_transaction_index') }}" > <i class="fa-solid fa-users"></i> Rapport Transaction </a></li>
                                              <li><a class="dropdown-item" href="{{ path('app_transaction_releve') }}"> <i class="fa-solid fa-newspaper"></i> Relevé </a></li>
                                            </ul>
                                          </li>
                                        <li>
                                    </li>

                                </ul>
                            </li>

                            <!-- Configuration -->
                            <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"> <i class="fa fa-toolbox"></i> Configuration <span class="fa fa-chevron-down"></span> </span> </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{path('app_type_epargne_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-edit"></i> Type epargne</span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_produit_epargne_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-edit"></i> Produit Epargne </span> </a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_config_ep_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-edit"></i> Epargne </span></a>
                                    </li>
                                </ul>
                            </li>


                            <!-- Reference    -->

                            <li>
                                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"> <i class="fa-solid fa-gear"></i> Reference <span class="fa fa-chevron-down"></span>  </span></a>
                                <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{{path('app_langue_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-pencil"> </i> Langue </span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_titre_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa-solid fa-user"></i>  Titres </span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_etatcivile_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa-solid fa-flag"></i> Etat civile </span> </a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_etude_new')}}" class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-book"></i> Niveau d'etude </span></a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_devise_new')}}"  class="nav-link px-0"> <span class="d-none d-sm-inline"> <i class="fa fa-dollar"></i> Devise </span> </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <hr>
                        <!-- Deconnection  et inscription  -->
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="img-fluid avatar" src="{{ asset('images/img_avatar.png') }}" width="40" alt="AVATAR" style="border-radius: 50%;" >
                                <span class="d-none d-sm-inline mx-1">{{ app.user.prenom }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-primary text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="{{path('app_inscription_')}}" > <i class="fa-solid fa-pencil"></i> Créer un compte </a></li>
                                
                                <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-user"></i> connectée en tant que <span> {{ app.user.prenom }} </span></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{path('app_logout')}}" > <i class="fa fa-fw fa-sign-out"></i>  Déconnecté </a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="col py-3">
                        <div class="row">
                            <div class="col-12 col-md-12 col sm-12">
                                <div class="row"> 
                                    <h5 class="text-primary m-3">{% block head %}  {% endblock %}</h5>
                                </div>
                                <div class="row">
                                    <hr class="fw-bold">
                                </div>
                               
                                <div class="rounded g-0 shadow-sm p-3">
                                    {% block body %}
                                        
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                       
                      
                </div>
            </div>
        </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>