
                         <h4 class="modal-title text-center"> Configuration epargne </h4>
                        {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(form.produitEpargne) }}
                                        {{ form_row(form.IsNegatif) }}
                                        {{ form_row(form.deviseutiliser) }}
                                        {{ form_row(form.nbrjInactif) }}
                                
                                        {{ form_row(form.nbMinRet) }}
                                        {{ form_row(form.NbrJrMaxDep) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(form.ageMinCpt) }}
                                        {{ form_row(form.fraisTenuCpt) }}       
                                        {{ form_row(form.commissionRetCash) }}
                                        {{ form_row(form.commissionTransf) }}
                                
                                        {{ form_row(form.fraisFermCpt) }}
                                        {{ form_row(form.soldeouvert) }}
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-sm" >{{ button_label|default('Enregistrer') }}</button>
                                <a href="{{ path('app_config_ep_index') }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> Voir Liste</a>
                          
                        {{ form_end(form) }}
                    
         {# /***********Fin modal *********** #}
   {% block javascript %}

        <script>
                $(document).ready(function(){
                    $(window).on('load',()=>{
                        $('#myModal').modal('show')
                    })
                });
        </script>
    {% endblock %}
