{{ include('header.html.twig') }}

{% block body %}
  {# /***************Messages succes ******************/#}
  {% for message in app.flashes('success') %}
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <!-- Modal body -->
              <div class="modal-body">
                  <strong>{{ message }}</strong>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">OK</button>
              </div>
          </div>
      </div>
  </div>
{% endfor %}

    <table class="table table-bordered">
        <thead class="alert alert-success">
            <tr>
                <th>Code Nom Produit</th>
                <th>Negatif</th>
                <th>Nombre de jour Inactif</th>
                <th>Nombre jour minimum retrait</th>
                <th>Nombre jour maximum depot</th>
                <th>Age minimmum</th>
                <th>Frais tenu compte</th>
                <th>Commission retrait cash</th>
                <th>Commission transaction</th>
                <th>Frais Fermeture compte</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid">
        {% for config_ep in config_eps %}
            <tr>
                <td>{{ config_ep.produitEpargne }}</td>
                <td>{{ config_ep.IsNegatif ? 'Oui' : 'Non' }}</td>
                <td>{{ config_ep.nbrjInactif }}</td>
                <td>{{ config_ep.nbMinRet }}</td>
                <td>{{ config_ep.NbrJrMaxDep }}</td>
                <td>{{ config_ep.ageMinCpt }}</td>
                <td>{{ config_ep.fraisTenuCpt }}</td>
                <td>{{ config_ep.commissionRetCash }}</td>
                <td>{{ config_ep.commissionTransf }}</td>
                <td>{{ config_ep.fraisFermCpt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('app_config_ep_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Ajouter nouveau</a>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(window).on('load',() =>{
            $('#myModal').modal('show')
        })
    </script>

{% endblock %}

{{ include('footer.html.twig') }}
