{{ include('header.html.twig') }}

{% block body %}
    <h1>Langue index</h1>

    <table class="table table-bordered">
        <thead class="alert alert-success">
            <tr>
                <th>Langue</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="jumbotron jumbotron-fluid">
        {% for langue in langues %}
            <tr>
                <td>{{ langue.langue }}</td>
                <td>{{ langue.pays }}</td>
                <td>
                    <a href="{{ path('app_langue_edit', {'id': langue.id}) }}" class="btn btn-success"><i class="fa fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_langue_new') }}">Create new</a>
{% endblock %}

{{ include('footer.html.twig') }}
